@media (max-width: 896px) {
    .op { width: 1130px;}
    }
    @media (max-width: 896px) {
        .t-f { width: 1130px;}
        }
        @media (max-width: 896px) {
            .t-f{ width: 1130px;}
            }
            @media (max-width: 896px) {
                .t-q { width: 1130px;}
                }

                @media (max-width: 896px) {
                    ul{display:-webkit-inline-box;}
                    }

                    

                    @media (max-width: 896px) {
                        select {width: 342px;}
                        }

                        @media (max-width: 896px) {
                            .img-qw {display: none;}
                            }

                            @media (max-width: 896px) {
                                 .p-q > h1 {margin-left: 8px;}
                                }

                                @media (max-width: 896px) {
                                    .logo-q > img { margin-left: 14px;}
                                   }

                                   @media (max-width: 896px) {
                                    .p-q > p {margin-left: 13px;}
                                   }

                                   @media (max-width: 896px) {
                                    span {display: none}
                                   }

                                   @media (max-width: 896px) {
                                    .ol {margin-top: 162px;margin-left: 217px;}
                                   }

                                   @media (max-width: 896px) {
                                    .iu {margin-left: 212px;}
                                   }

                                   @media (max-width: 896px) {
                                    .q-h {margin-top: 133px;    margin-left: 237px;}
                                   }

                                   @media (max-width: 896px) {
                                    .q-r {margin-top: 136px;margin-left: 229px;}
                                   }

                                   @media (max-width: 896px) {
                                    .q-w {margin-top: 149px;    margin-left: 227px;}
                                   }

                                   @media (max-width: 896px) {
                                    .q-a {display: none}
                                   }

                                   @media (max-width: 896px) {
                                    .logo-e {width: 1132px;}
                                   }

                                   @media (max-width: 896px) {
                                    .q-b {margin-left: 210px;}
                                   }

                                   @media (max-width: 896px) {
                                    .q-u {margin-left: 210px;}
                                   }

                                   @media (max-width: 896px) {
                                    .q-n {margin-left: 210px;}
                                   }

                                   @media (max-width: 896px) {
                                    .q-qw {margin-left: 206px;margin-top: 128px;}
                                   }

                                   @media (max-width: 896px) {
                                    .q-we {margin-left: 204px;margin-top: 109px;}
                                   }

                                   @media (max-width: 896px) {
                                    .q-y {margin-left: 204px;margin-top: 94px;}
                                   }

                                   @media (max-width: 896px) {
                                    .q-o {margin-left: 213px;margin-top: 107px;}
                                   }

                                   @media (max-width: 896px) {
                                    .q-x {display: none}
                                   }

                                   @media (max-width: 896px) {
                                    .qw-yuq {margin-left: 204px;margin-top: 59px;}
                                   }

                                   @media (max-width: 896px) {
                                    .qw-ioq {margin-left: 204px;}
                                   }

                                   @media (max-width: 896px) {
                                    .qw-paq {margin-left: 214px; margin-top: 105px;}
                                   }

                                   @media (max-width: 896px) {
                                    .qw-adq {margin-left: 223px;margin-top: 115px;}
                                        
                                   }

                                   @media (max-width: 896px) {
                                    .qw-tyq {display: none}
                                        
                                   }

                                   @media (max-width: 896px) {
                                    .qw-tyq {display: none}
                                        
                                   }

                                   @media (max-width: 896px) {
                                    .qw-web {margin-left: 234px;margin-top: 65px;}
                                        
                                   }

                                   @media (max-width: 896px) {
                                    .qw-uib {margin-left: 234px;    margin-top: 98px;}
                                        
                                   }

                                   @media (max-width: 896px) {
                                    .qw-tyb {margin-left: 236px;margin-top: 69px;}
                                        
                                   }

                                   @media (max-width: 896px) {
                                    .qw-erb {margin-left: 243px;    margin-top: 85px;}
                                        
                                   }

                                   @media (max-width: 896px) {
                                    .qw-qwb {display: none}
                                        
                                   }

                                   @media (max-width: 896px) {
                                    .qw-rtb {display: none}
                                        
                                   }

                                   @media (max-width: 896px) {
                                    .q-e {display: none}
                                        
                                   }

                                   @media (max-width: 896px) {
                                    .qw-erq {display: none}
                                        
                                   }






                                   


                                   

                                   
                                   

                        
